div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
	}

	nav {
		margin: 0px auto; 
		text-align: center;
	}

	nav ul ul {
		display: none;
	}

	nav ul li:hover > ul {
		display: block;
	}


	nav ul {
		background: #F5F6F7; 
		box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
		list-style: none;
		position: relative;
		display: inline-table;
	}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
		padding-right: 7px;
	}
	nav ul li:hover {
		background: #4b545f;
	}
	nav ul li:hover a {
		color: orange;
	}
			
	nav ul li a {
		display: block; 
		margin: 0px 34px;
		padding: 15px 20px;
		color: #F1592A; text-decoration: none;
	}

	nav ul ul {
		background: #5B5B5C; border-radius: 0px; padding: 0;
		position: absolute; top: 100%;
	}
	nav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a; position: relative;
	}
	nav ul ul li a {
		padding: 15px 33px;
		color: #fff;
	}	
	nav ul ul li a:hover {
		background: #4b545f;
	}
			
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}