body{
	background: url(images/tweed_@2X.png);
	font-family: Arial, Helvetica, sans-serif;
	color: #F5F6F7;
}

#page-wrap {
     width: 1072;
     margin: 0 auto;
}

#header{
	width: 100%;
	height: 135px;
	background: url(images/header_applied.jpg);
}
#header-gutter{
	height: 50px;
	background-color: #F5F6F7;
	border-top: 1px solid #CDCCCC;
}

#header-left{
	float: left;
	width: 50%;
}

#header-right{
	float: left;
	width: 50%;
}

#header-logo-left{
	padding-top: 65px;
	padding-left: 150px;
	color: #455154;
}
#header-logo-right{
	padding-top: 65px;
	padding-left: 50px;
	color: #455154;
}
#header-logo-upper{
	font-size: 36px;
	font-weight: bold;
}
#header-logo-right{
	font-size: 24px;
	font-weight: bold;
	color: #F1592A;
}

.menu{
	color: #F1592A;
}

#navlist li
{
	display: inline;
	list-style-type: none;
	padding-right: 4%;
	color: #F1592A;
}

#navlist li:hover{
	color: orange;
}

#content-video{
	width: 1072px;
	height: 320px;
	margin-top: 20px;
	background-color: #5B5B5C;
	border: 1px solid #CDCCCC;
}

#content-video-left{
	float:left;
	width: 45%;
	padding-left: 35px;
	padding-top: 50px;
}

.emphasis{
	font-weight: bold;
	color: #FDFCE8;
}

.black-arrow{
	color: black;
}

#content-video-right{
	float:left;
	width: 45%;
	padding-left: 20px;
	padding-top: 20px;
}

#content-video-right-area{
	width: 100%;
	height: 80%;
	padding-left: 20px;
	padding-top: 20px;
	background-color: #708793;
	border: 1px solid #CDCCCC;
	opacity: 0.5;
	filter: alpha(opacity=50);
 	-webkit-transition: opacity .5s linear;
}

#content-video-right-area:hover{
	opacity: 1;
	filter: alpha(opacity=100);
 	-webkit-transition: opacity .5s linear;
}

#content-video-right-area-text{
    text-align: center;
    padding-top: 100px;
}
#landing-content-banner{
	background: url(images/Fibersim_Header.jpg);
	width: 1072px;
	height: 211px;
	margin-top: 20px;
	background-color: #5B5B5C;
	border: 1px solid #CDCCCC;
}

#landing-content-video{
	padding: 20px;
	border: 1px solid #FFFFFF;
	height: 380px;
	width: 992px;
}

#landing-content-video-left{
	float: left;
	color: #4D4D4E;
	width: 50%;
}

#landing-content-video-right{
	float:left;
	width: 45%;
	padding-left: 20px;
	padding-top: 20px;
}

#landing-content-video-right-area{
	width: 100%;
	height: 64%;
	padding-left: 20px;
	padding-top: 20px;
	background-color: #708793;
	border: 1px solid #CDCCCC;
	opacity: .5;
	filter: alpha(opacity=50);
 	-webkit-transition: opacity .5s linear;
}

#landing-content-video-right-area:hover{
	opacity: 1;
	filter: alpha(opacity=100);
 	-webkit-transition: opacity .5s linear;
}

#landing-content-right-bottom{
	padding-top: 20px;
	color: #7B9AA9;
	font-weight: bold;
}

#landing-content-gutter{
	margin-top: 30px;
}

#landing-content-gutter-left{
	float: left;
	background: url(images/Fibersim-Video.jpg) no-repeat;
	height: 220px;
	width: 35%;
}

#landing-content-gutter-left:hover{
	float: left;
	background: url(images/Fibersim-Video-Hov.jpg) no-repeat;
	height: 220px;
	width: 35%;
}

.label{
	float: left;
	padding-left: 7px;
	padding-bottom: 5px;
	width: 300px;
	color: black;
	font-size: 14px;
}

#landing-content-gutter-right{
	float: left;
	border: 1px solid #FFFFFF;
	height: 220px;
	width: 63%;
}

#landing-content-gutter-right td{
	color: #7B9AA9;
	width: 310px;
	padding: 5px;
}

#landing-content-gutter-right-text{
	padding-left: 40px;
	padding-top: 30px;
	color: #FFFFFF;
}

.item-picture-gutter{
	float: right;
	padding-top: 10px;
	height:25px;
	width: 275px;
}

.circle {
	border-radius: 50%;
	width: 18px;
	height: 18px; 
	background-color: #A8A8A8;
	float: right;
	z-index: 2;
	/* width and height can be anything, as long as they're equal */
}

.inner-circle {
	border-radius: 50%;
	width: 16px;
	height: 16px;
	background-color: black;
	z-index: 1;
	opacity: 0;
}

.circle-area {
	float:right;
	width:20px;
	height:25px;
	padding-right:10px;
}

.inner-circle-area{
	width:20px;
	height:20px;
	padding-left: 3px;
	padding-top: 3px;
}

#training-label-emphasis{
	padding-top: 24px;
	padding-left: 20px;
	font-weight: 600;
	float: left;
	font-size: 24px;
}

.training-label{
	float: left;
	padding-top: 30px;
	padding-left: 20px;
}

.training-small-label{
	float: left;
	padding-top: 5px;
	padding-left: 20px;
}

.training-small-text{
	color: #BDCCD4;
	float: left;
	padding-top: 10px;
	padding-left: 20px;
	font-size: 10px;
}

#content-news{
	float: left;
	width: 327px;
	height: 440px;
	margin-top: 20px;
	background-color: #F5F6F7;
	border: 1px solid #CDCCCC;
	padding-top: 20px;
	padding-left: 20px;
}

#content-training{
	float: left;
	width: 701px;
	height: 460px;
	margin-top: 20px;
	margin-left: 20px;
	background-color: #F5F6F7;
	border: 1px solid #CDCCCC;
}

#content-training-picture{
	width: 662px;
	height: 330px;
	background-image: url(images/NX_Training.PNG);
	background-repeat: no-repeat;
}	

#content-training-border{
	width: 662px;
	height: 420px;
	margin-top: 20px;
	margin-left: 20px;
	background-color: #5B5B5C;
	border: 1px solid #CDCCCC;
}

#landing-content-video-right-area-text{
    text-align: center;
    padding-top: 100px;
}

#landing-content-video-right-button{
	margin-top: 10px;
	background-color: #F1592A;
	width: 100%;
	height: 30px;
	box-shadow: 5px 5px 15px #888888;
}

#landing-content-video-right-button-text
{
	padding-top: 5px;
	padding-left: 35px;
	text-shadow: 2px 2px 5px #000000;
}

#landing-content-main{
	float: left;
	width: 1052px;
	height: 700px;
	margin-top: 20px;
	background-color: #F5F6F7;
	border: 1px solid #CDCCCC;
	padding-top: 20px;
	padding-left: 20px;
}

#content-partners{
	float: left;
	width: 1052px;
	height: 120px;
	margin-top: 20px;
	background-color: #F5F6F7;
	border: 1px solid #CDCCCC;
	padding-top: 20px;
	padding-left: 20px;x
}

#content-partners-images{
	float:left;
	height: 100px;
	width:180px;
	background-color: gray;
	margin-left: 20px;
}

#footer{
	float: left;
	width: 1072px;
	height: 200px;
	margin-top: 20px;
	background-color: #F5F6F7;
	border: 1px solid #CDCCCC;
}

#footer-left{
	float: left;
	width: 60%;
	margin-top:20px;
	margin-left:50px;	
}

#footer-right{
	float: left;
	width: 25%;
	margin-top:20px;
	margin-left:20px;	
}

#gutter{	
	float: left;
	width: 1200px;
	height: 50px;
	margin-top: 20px;
}

td{
	color: #F1592A;
	font-size: 12px;
	font-weight: bold;
}

td:hover{
	color: orange;
}

#spacer{
	border: 1px solid #CDCCCC;
	height: 10px;
	width: 200px;
}

#content-news h5{
	color: black;
}

#content-news-container{
	border: 1px solid #FFFFFF;
	padding: 10px;
	margin: 10px;
	color: #7B9AA9;
	font-size: 14px;
	height: 20px;
	width: 280px;
}

#content-news-container-selected{
	border: 1px solid #FFFFFF;
	padding: 10px;
	margin: 10px;
	color: #4D4D4E;
	font-size: 14px;
	height: 20px;
	width: 280px;
}

.menu-item{
	color: #5B5B5C;;
}

.menu-item:hover{
	color: black;
}